.horizontal-scroll-wrapper{
	width:100px;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90) translate(-100px);
	trasnform-origin: right top;

} 
.horizontal-scroll-wrapper > div{
	width: 100px;
	height: 100px;

}
